@import "@/app/styles/common/_variables.scss";
@import "@/app/styles/common/_mixin.scss";

.banner-wrap{
  position: relative;
  width: 100%;
  padding: vw(w, 184) 0;
  background: #121212;

  @include mobile{
    padding: vw(m, 68) 0;
  }
  &:after{
    content: "";
    background: linear-gradient(to bottom, #121212, rgba(0, 0, 0, 0));
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
  }
  button{
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
    width: vw(w, 1239);
    height: vw(w, 464);
    border-radius: vw(w, 24);
    border: 1px solid rgba(255, 255, 255, 0.2);

    @include mobile{
      width: vw(m, 350);
      height: vw(m, 130);
      border-radius: vw(m, 7);
    }
    .bg-img{
      width: 100%;
      height: 100%;
    }
  }
}